# Client folders
crash-reports/
logs/
screenshots/
server-resource-packs/
.mixin.out/
defaultconfigs/
saves/
schematics/
Xaero*/
temp/
mods/panorama/

# Don't distribute SPL mods, they'll be pulled down anyway
!servermods/serverpackutility.jar
servermods/
clientmods/

# Ignore panorama screenshot mod
mods/panorama*

# Only distribute required configs
config/
!config/fml.toml
!config/forge-client.toml
!config/forge-common.toml
!config/packmenu.cfg
!config/simple-rpc/

# Other files
options.txt
servers.dat*
panorama.dat
icon.png
usernamecache.json
usercache.json

# Workspace
.idea/
