crash-reports/
logs/
screenshots/
server-resource-packs/
.mixin.out/
defaultconfigs/
saves/
schematics/
config/create-common.toml
config/flywheel-client.toml
config/ltdonations-common.toml
config/ltminigames-client.toml
config/ltminigames-common.toml
config/xaero*
servers.dat
icon.png
Xaero*/
!servermods/serverpackutility.jar
servermods/*.jar
config/balm-common.toml
